In [21]:
import pandas as pd
import numpy  as np
import sqlite3

# Conectar a la base de datos SQLite
conn = sqlite3.connect(r'C:\Users\maria\Documents\UCV MARY\EECA\SEMESTRE 2024-1\SEMESTRE II\COMPUTACIÓN II\TRABAJO FINAL\SALUD MENTAL EN LA INDUSTRIA TECNOLÓGICA 1.sqlite')

cur = conn.cursor()

In [22]:
# Consultar las tablas en la base de datos
consulta_ntablas = "SELECT name FROM sqlite_master WHERE type='table' ORDER BY name;"


# Mostrar las entidades
print("Entidades en la base de datos:")
entidades = pd.read_sql_query(sql = consulta_ntablas, con = conn)
entidades

Entidades en la base de datos:

         name
0      Answer
1    Question
2  Respuestas
3      Survey

In [23]:
consulta = "SELECT * FROM Respuestas;"
df_Respuestas = pd.read_sql_query(sql = consulta, con = conn)

conn.close()

In [24]:
User_ID = df_Respuestas[(df_Respuestas['QuestionID'] == 3) & (df_Respuestas['AnswerText'] == 'Estados Unidos')]['UserID'].unique()
df_Investigacion = df_Respuestas[(df_Respuestas['UserID'].isin(User_ID)) & (df_Respuestas['SurveyID'] == 2016)]

In [25]:
df_grouped = df_Investigacion.groupby(['UserID', 'QuestionID'])['AnswerText'].first().reset_index()

df_pivot = df_grouped.pivot_table(index='UserID', columns='QuestionID', values='AnswerText', aggfunc='first')

In [7]:
#PREGUNTA #1
#¿Cuántas personas en la industria tecnológica tienen una enfermedad mental diagnosticada y, dentro de este grupo, existe algún historial familiar dentro de este ámbito?

Historial_familiar = df_Investigacion.loc[df_Investigacion['QuestionID'] == 6, ['AnswerText', 'UserID']]

# Filtrar las filas donde QuestionID es 34
Enfermedad_Mental = df_Investigacion.loc[df_Investigacion['QuestionID'] == 34, 'AnswerText']

# Crear una tabla bivariante
#Tabla1 = pd.crosstab(Enfermedad_Mental['AnswerText'], Historial_familiar['AnswerText'])

# Mostrar la tabla bivariante
#print(Tabla1)